.claimList-trx {
    margin: 0px !important;
    padding-top: 0px !important;
  }
  .trx-table {
    /* border: 1px solid white; */
    width: 100%;
  }
  
  .trx-table td {
    font-size: 1.5rem;
    padding: 5px 4px 5px 4px;
    min-width: 60px;
  }
  
  .trx-table th {
    font-size: 1.5rem;
    padding: 5px 4px 5px 4px;
  }
  .color-grey {
    background-color: grey !important;
    border: 1px solid grey !important;
  }
  .color-grey:hover {
    background-color: rgb(104, 103, 103) !important;
    border: 1px solid rgb(104, 103, 103) !important;
    transform: translate(0.2s);
  }
  .trxHash {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
    margin: 0px !important;
    padding: 0px 0px 0px 0px !important;
    font-size: 1.5rem !important;
  }
  .size-sm {
    max-width: 20px !important;
    margin: 4px 0 0 10px;
  }
  
  .size-sm:hover {
    max-width: 24px !important;
    transform: translate(0.3s);
  }
  .details-trxHash {
    font-size: 2rem;
  
    width: 200px;
  }
  .confrim-btn {
    padding-top: 0px !important;
  }
  .wide-td td {
    width: 200px;
  }
  .trx-status-icon {
    width: 30px;
    margin-right: 10px !important;
  }
  .claimList-Loader {
    width: 20px;
  }
  .loaderTd {
    width: 100%;
  }
  
  #historyLoader {
    width: 40px !important;
  }
  .historyLoaderText {
    font-size: 16px;
  }
  