.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
}

.Auth-form {
  width: 420px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding: 2%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #333;
  font-weight: 800;
}

label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(24, 144, 255, 0.25);
}

.btn-primary {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  background-color: #6a11cb;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
  .btn-primary:hover {
    background-color: #2575fc;
    }
    
    .text-center {
    text-align: center;
    }
    
    .link-primary {
    color: #6a11cb;
    cursor: pointer;
    text-decoration: underline;
    }
    
    .link-primary:hover {
    color: #2575fc;
    }
    
    .mt-3 {
    margin-top: 1rem;
    }
    
    .d-grid {
    display: grid;
    }
    
    .gap-2 {
    grid-gap: 1rem;
    }